Repository kamiteku557/mylife: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-ruff-check-fix, backend-ruff-format, frontend-eslint-fix, frontend-prettier-write

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: backend-ruff-check-fix
        name: backend ruff check --fix
        entry: uv run --project apps/backend ruff check --fix
        language: system
        files: ^apps/backend/.*\.py$

      - id: backend-ruff-format
        name: backend ruff format
        entry: uv run --project apps/backend ruff format
        language: system
        files: ^apps/backend/.*\.py$

      - id: frontend-eslint-fix
        name: frontend eslint --fix
        entry: pnpm --filter mylife-frontend exec eslint --fix
        language: system
        files: ^apps/frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: frontend-prettier-write
        name: frontend prettier --write
        entry: pnpm --filter mylife-frontend exec prettier --write .
        language: system
        files: ^apps/frontend/.*\.(js|jsx|ts|tsx|json|css|md|html|yml|yaml)$
        pass_filenames: false

feat(ops): add Supabase connectivity API and verify real DB check (BL-001, RQ-OPS-002)
  apps/backend/app/main.py
  apps/backend/app/supabase_health.py
  apps/backend/tests/conftest.py
  apps/backend/tests/test_supabase_connection_api.py
  docs/backlog.md
  docs/requirements.md
  docs/supabase-setup.md
  supabase/migrations/0001_init.sql
Due: backend-ruff-check-fix, backend-ruff-format

docs(workflow): add spec-driven process docs and references
  AGENTS.md
  README.md
  docs/development-workflow.md
Due: none

feat(memo): implement memo CRUD + DI-based API tests (BL-006, RQ-MEM-001, RQ-MEM-002, RQ-QLT-001)
  AGENTS.md
  Makefile
  apps/backend/app/main.py
  apps/backend/app/memo_logs.py
  apps/backend/app/supabase_health.py
  apps/backend/tests/test_memo_logs_api.py
  apps/backend/tests/test_supabase_connection_api.py
  apps/frontend/src/App.tsx
  apps/frontend/src/styles.css
  docs/backlog.md
  docs/requirements.md
Due: backend-ruff-check-fix, backend-ruff-format, frontend-eslint-fix, frontend-prettier-write

docs(backlog): close BL-006 and add memo latency task (RQ-MEM-005, BL-012)
  docs/backlog.md
  docs/requirements.md
Due: none

perf(memo): reduce save latency by caching client and demo-user setup
  apps/backend/app/memo_logs.py
  docs/backlog.md
  docs/requirements.md
Due: backend-ruff-check-fix, backend-ruff-format

chore: 日本語Docstringとコードコメントに統一
  AGENTS.md
  apps/backend/app/main.py
  apps/backend/app/memo_logs.py
  apps/backend/app/supabase_health.py
  apps/backend/tests/test_memo_logs_api.py
  apps/backend/tests/test_supabase_connection_api.py
  apps/frontend/src/App.tsx
Due: backend-ruff-check-fix, backend-ruff-format, frontend-eslint-fix, frontend-prettier-write

docs: BL-013/RQ-DOC-001 の完了記録を反映
  docs/backlog.md
  docs/requirements.md
Due: none

feat(frontend): align memo UI with design mock and add local verification task (BL-014, RQ-MEM-006, BL-015, RQ-OPS-008)
  apps/frontend/src/App.tsx
  apps/frontend/src/styles.css
  docs/backlog.md
  docs/requirements.md
Due: frontend-eslint-fix, frontend-prettier-write

fix(frontend): match memo UI to v0 design mock (BL-014, RQ-MEM-006)
  apps/frontend/src/App.tsx
  apps/frontend/src/styles.css
  docs/backlog.md
Due: frontend-eslint-fix, frontend-prettier-write

fix(frontend): fail fast when VITE_API_BASE_URL is missing (BL-016, RQ-OPS-009)
  apps/frontend/src/App.tsx
  apps/frontend/src/styles.css
  docs/backlog.md
  docs/deploy-minimal.md
  docs/requirements.md
Due: frontend-eslint-fix, frontend-prettier-write

docs(backlog): mark BL-016 done
  docs/backlog.md
Due: none

feat(frontend): add settings screen and memo display preferences (BL-017, RQ-MEM-007, RQ-SET-001)
  apps/frontend/src/App.tsx
  apps/frontend/src/styles.css
  docs/backlog.md
  docs/requirements.md
Due: frontend-eslint-fix, frontend-prettier-write

Add one-command local dev startup for frontend and backend
  Makefile
  README.md
  docs/backlog.md
  docs/requirements.md
  package.json
Due: none

feat(pomodoro): backend-driven sessions and bug fixes (BL-003 BL-004 BL-019)
  .gitignore
  apps/backend/app/main.py
  apps/backend/app/pomodoro.py
  apps/backend/tests/test_pomodoro_api.py
  apps/frontend/src/App.tsx
  apps/frontend/src/SessionView.tsx
  apps/frontend/src/styles.css
  docs/backlog.md
  docs/requirements.md
Due: backend-ruff-check-fix, backend-ruff-format, frontend-eslint-fix, frontend-prettier-write

fix(frontend): restore mobile header nav visibility (BL-023 RQ-QLT-004)
  apps/frontend/src/styles.css
  docs/backlog.md
  docs/requirements.md
Due: frontend-prettier-write

feat(frontend): mobile-wide memo save button and remove shortcut hint (BL-024 RQ-MEM-008)
  apps/frontend/src/App.tsx
  apps/frontend/src/styles.css
  docs/backlog.md
  docs/requirements.md
Due: frontend-eslint-fix, frontend-prettier-write

fix(frontend): keep mobile header single-row and hide brand icon (BL-023 RQ-QLT-004)
  apps/frontend/src/styles.css
  docs/backlog.md
Due: frontend-prettier-write

feat(memo): align action icons next to date (BL-014, RQ-MEM-006)
  apps/frontend/src/App.tsx
  apps/frontend/src/styles.css
  docs/backlog.md
  docs/requirements.md
Due: frontend-eslint-fix, frontend-prettier-write

docs(backlog): mark BL-023 done after main merge
  docs/backlog.md
Due: none

docs(workflow): add worktree setup standard task (BL-025 RQ-OPS-011)
  docs/backlog.md
  docs/requirements.md
Due: none

docs(backlog): add dark mode task and resolve BL id collision (BL-026 RQ-QLT-005)
  docs/backlog.md
  docs/requirements.md
Due: none

feat(frontend): add dark mode with system preference override (BL-025, RQ-QLT-005)
  apps/frontend/src/App.tsx
  apps/frontend/src/styles.css
  docs/backlog.md
  docs/requirements.md
Due: frontend-eslint-fix, frontend-prettier-write

docs(backlog): renumber session tasks to BL-027 and BL-028
  docs/backlog.md
  docs/requirements.md
Due: none

refactor(frontend): extract theme hook and simplify dark-mode tokens (BL-029, RQ-QLT-005)
  apps/frontend/src/App.tsx
  apps/frontend/src/styles.css
  apps/frontend/src/useTheme.ts
  docs/backlog.md
  docs/requirements.md
Due: frontend-eslint-fix, frontend-prettier-write

refactor(frontend): clarify theme decision helpers in useTheme
  apps/frontend/src/useTheme.ts
Due: frontend-eslint-fix, frontend-prettier-write

docs: mark BL-028/BL-029 done and close RQ-QLT-005
  docs/backlog.md
  docs/requirements.md
Due: none

docs(workflow): require acceptance criteria in Done backlog entries
  docs/backlog.md
  docs/development-workflow.md
Due: none

feat(memo): fetch memo logs with limit and simplify count label
  apps/backend/app/main.py
  apps/backend/app/memo_logs.py
  apps/backend/tests/test_memo_logs_api.py
  apps/frontend/src/App.tsx
  docs/backlog.md
  docs/requirements.md
Due: backend-ruff-check-fix, backend-ruff-format, frontend-eslint-fix, frontend-prettier-write

test(backend): add memo limit boundary coverage
  apps/backend/tests/test_memo_logs_api.py
  docs/backlog.md
  docs/requirements.md
Due: backend-ruff-check-fix, backend-ruff-format

docs(backlog): close BL-030 and mark RQ-MEM-009 done
  docs/backlog.md
  docs/requirements.md
Due: none

feat(frontend): extract reusable offline sync queue and add tests (BL-030)
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/memoOfflineSync.test.ts
  apps/frontend/src/memoOfflineSync.ts
  apps/frontend/src/offlineSync/createQueue.test.ts
  apps/frontend/src/offlineSync/createQueue.ts
  apps/frontend/src/styles.css
  docs/backlog.md
  docs/requirements.md
  pnpm-lock.yaml
Due: frontend-eslint-fix, frontend-prettier-write

feat(pomodoro): add browser notifications with swappable sound player
  apps/frontend/src/SessionView.tsx
  docs/backlog.md
  docs/requirements.md
Due: frontend-eslint-fix, frontend-prettier-write

docs(frontend): add offline sync flow guide and update-maintenance pointers
  apps/frontend/src/App.tsx
  apps/frontend/src/memoOfflineSync.ts
  apps/frontend/src/offlineSync/createQueue.ts
  docs/offline-sync-flow.md
Due: frontend-eslint-fix, frontend-prettier-write

feat(pomodoro): overrun clock display and notification sound abstraction
  apps/frontend/src/SessionView.tsx
  docs/backlog.md
  docs/requirements.md
Due: frontend-eslint-fix, frontend-prettier-write

docs(agents): add TDD and comprehensive testing rule
  AGENTS.md
Due: none

refactor(frontend): normalize pending queue shape and keep legacy compatibility (BL-031)
  apps/frontend/src/App.tsx
  apps/frontend/src/memoOfflineSync.test.ts
  apps/frontend/src/memoOfflineSync.ts
  apps/frontend/src/offlineSync/createQueue.test.ts
  apps/frontend/src/offlineSync/createQueue.ts
  docs/backlog.md
  docs/offline-sync-flow.md
  docs/requirements.md
Due: frontend-eslint-fix, frontend-prettier-write

test(quality): add comprehensive unit/integration/e2e coverage (BL-032, RQ-QLT-001, RQ-QLT-002, RQ-QLT-003, RQ-QLT-006)
  .gitignore
  .pre-commit-config.yaml
  apps/backend/tests/test_memo_logs_integration_api.py
  apps/backend/tests/test_memo_logs_unit.py
  apps/backend/tests/test_pomodoro_integration_api.py
  apps/backend/tests/test_pomodoro_unit.py
  apps/frontend/e2e/memo-flow.spec.ts
  apps/frontend/e2e/session-flow.spec.ts
  apps/frontend/package.json
  apps/frontend/src/App.integration.test.tsx
  apps/frontend/src/App.tsx
  apps/frontend/src/App.utils.test.ts
  apps/frontend/src/appUtils.ts
  apps/frontend/src/test/setup.ts
  apps/frontend/src/useTheme.test.tsx
  apps/frontend/vite.config.ts
  docs/backlog.md
  docs/development-workflow.md
  docs/requirements.md
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: backend-ruff-check-fix, backend-ruff-format, frontend-eslint-fix, frontend-prettier-write

docs(workflow): require worktree setup and pre-merge e2e (BL-036, RQ-OPS-011, RQ-QLT-007)
  docs/backlog.md
  docs/development-workflow.md
  docs/requirements.md
Due: none

fix(quality): enforce frontend typecheck pre-commit and remove Array.at build incompatibility (BL-037, BL-038, RQ-QLT-002, RQ-QLT-007)
  .pre-commit-config.yaml
  apps/frontend/src/App.integration.test.tsx
  docs/backlog.md
  docs/development-workflow.md
  docs/requirements.md
Due: frontend-eslint-fix, frontend-prettier-write

feat(pomodoro): background push dispatch and resume catch-up (BL-037, BL-038)
  .github/workflows/push-dispatch.yml
  README.md
  apps/backend/.env.example
  apps/backend/app/config.py
  apps/backend/app/main.py
  apps/backend/app/pomodoro.py
  apps/backend/app/push_notifications.py
  apps/backend/pyproject.toml
  apps/backend/tests/test_pomodoro_unit.py
  apps/backend/tests/test_push_notifications_api.py
  apps/backend/tests/test_push_notifications_unit.py
  apps/backend/uv.lock
  apps/frontend/.env.example
  apps/frontend/index.html
  apps/frontend/public/manifest.webmanifest
  apps/frontend/public/sw.js
  apps/frontend/src/App.integration.test.tsx
  apps/frontend/src/SessionView.tsx
  apps/frontend/src/SessionView.utils.test.ts
  apps/frontend/src/SessionViewTimer.ts
  apps/frontend/src/main.tsx
  apps/frontend/src/pushNotifications.test.ts
  apps/frontend/src/pushNotifications.ts
  docs/backlog.md
  docs/deployment-runbook.md
  docs/free-tier-checklist.md
  docs/requirements.md
  render.yaml
  supabase/migrations/0002_push_notifications.sql
Due: backend-ruff-check-fix, backend-ruff-format, frontend-eslint-fix, frontend-prettier-write
